/*
Project Name : BOSS Property Management ;
Received Date : Aug 15, 2014 ;
Complete Date: Aug 20, 2014 ; 
Written by : Tanto Prihartanto;
URL : http://www.bestariweb.com;


1. Common
2. Header
3. Content
4. Footer

*/

/* -------------------------------*
*        GLOBALL BOSS CSS         *
*     Berlaku di semua media      *
* --------------------------------*/



/********** 1. COMMON ***********/

body {
	background: #545454;
	color:#fff;
	font-family: arial;
	font-size: 16px;
}

a {
	color:#fff;
	text-decoration: none;
}

a:hover{color:#f26520;}
h1{font-size: 28px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
input,select,option{
	height: 30px;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #aaa;
	color: #777;
	width: 100%;
}

button, html input[type=button], input[type=reset], input[type=submit]{
	background: #f26520;
	min-width: 80px;
	border: none;
	color: #fff;
}

.btn-sell-rent{
	background: #f26520;
	width: 100%;
	padding:5px 10px;
	color:#fff;
	border-radius: 0 0 5px 5px;
	font-weight: bold;
	font-family: "times new roman",arial;
}
.nav-button{
	
}

.btn-nav{
	border: 1px solid  #545454;
	border-bottom: none;
	border-radius: 10px 10px 0 0!important;
	color: #fff;
	background: #f26520;
	padding: 15px;	
	box-shadow: 0 -2px 8px rgba(0,0,0,0.5); 
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.btn-nav:hover{
	background: #111;
	color: #fff;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.btn-active{background: #000!important;}
.fillform{
	clear:both;
	margin:15px 0;
}
.bosscontent .search-result p{color: #fff;margin-bottom: 20px; line-height: 27px;}
.search-result img{width: 95%;height: auto;}
.search-result h3{margin-top: 0}
.bosslabel{
	width:100px; 
	color:#f26520;
	font-weight: normal;
	font-size: 18px;
}
.bosscontent{
	background: #545454 url('../images/bg-content.png') 50% 100% no-repeat;
	width: 100%;
	margin:0px;
	padding-bottom: 500px;
}

.bosscontent p{color: #777;margin-bottom: 30px;}

.bosscontent .container{min-height: 1500px;}
.bosscontent .fb {background: url(../images/icon-facebook1.png) 0% 0% no-repeat;}
.bosscontent .twitter {background: url(../images/icon-twitter1.png) 0% 0% no-repeat}
.bosscontent .gplus {background: url(../images/icon-google1.png) 0% 0% no-repeat}
.bosscontent .youtube {background: url(../images/icon-youtube1.png) 0% 0% no-repeat}


.bosscontent .fb,
.bosscontent .twitter,
.bosscontent .gplus,
.bosscontent .youtube{
	width: 62px;
	height: 62px;
	margin: 10px 10px 10px 0;
	float: left;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.bosscontent .fb:hover,
.bosscontent .twitter:hover,
.bosscontent .gplus:hover,
.bosscontent .youtube:hover{
	transform:rotate(360deg); /* putar 360 derajat */
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.bosspartner img{width:100%;}
.bossaddress{background:url(../images/icon-redhome.png) 0% 0% no-repeat;}
.bossmail{background:url(../images/icon-redmail.png) 0% 0% no-repeat;}
.bossphone{	background:url(../images/icon-redphone.png) 0% 0% no-repeat;}
.bossaddress,.bossmail,.bossphone{
	color: #f26520;
	padding: 5px 0 5px 45px;
	margin: 5px 0;
	min-height: 40px;
}
.footer{
	padding:30px 0 30px 0;
	width: 100%;
	margin:0px;
	background: #000;
	border-top: 10px solid #555;
}
.footer ul{
	list-style: none;
	display: block;
	list-style-position: inside;
	padding-left: 0;
}

.footer ul li {
	border-bottom: 2px solid #252525;
}

.footer ul li:last-child{border-bottom: none;}

.footer li,
.footer li > a {
	padding: 10px 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.footer li:hover,
.footer li > a:hover {
	padding-left: 10px;
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.footer .joinus, .footer .joinus:hover {color: #f26520;text-decoration: none;}

.footerbottom{
	margin: 0px;
	width: 100%;
	background: #252525;
	border-top: 3px solid #555;
	padding: 20px 0 20px 0;
}
.footerbottom .sosmed{
	display: inline-block;
	height: 23px;
	width: 23px;
	margin: 2px;
}
.footerbottom .twitter{background: url(../images/icon-twitter2.png) 0% 0% no-repeat}
.footerbottom .fb{background: url(../images/icon-facebook2.png) 0% 0% no-repeat}
.footerbottom .gplus{background: url(../images/icon-google2.png) 0% 0% no-repeat}
.footerbottom .dribble{background: url(../images/icon-dribble2.png) 0% 0% no-repeat}

.alpha{
	margin-left: 0px!important;
	padding-left: 0px!important;
}

.omega{
	margin-right: 0px!important;
	padding-right: 0px!important;
}

.rata-kanan{float: right;text-align: right;}

.rata-kiri{float:left;text-align: left;}

.bossheader{
	background: #000;
	overflow: auto;
	width: 100%;
	padding-bottom: 20px;
}


.logo img{
	bottom: 0px;
	margin-top: 0px;
}

.menuaccount{min-height: 70px;}
.menuaccount ul{padding-left: 0;}
.menuaccount ul li{
	color:white;
	display: inline-block;
	padding: 0px 10px;
	border-right:1px solid #fff;
	margin-top: 10px; 
}

.menuaccount ul li:last-child{
	border-right: none;
}

.search-form input {width: 100%;}

.contact-menu{
	font-size: 14px;
}
.contact-mail{
	background:url(../images/icon-email.png) 0% 0% no-repeat;
	padding: 10px 0 0 50px;
	height: 47px;
	margin:10px 0;
}
.contact-phone{
	background:url(../images/icon-phone.png) 0% 0% no-repeat;
	padding: 10px 0 0 50px;
	height: 47px;
	margin:10px 0;
}
.contact-address{
	background:url(../images/icon-map.png) 0% 0% no-repeat;
	padding: 0px 0 0 50px;
	height: 47px;
	font-size: 10px;	
	margin:10px 0;
}

.property-list{
	background: #fff;
	color:#333;
	overflow: hidden;
	padding: 30px 10px;
}

.property-pic{
	overflow: hidden;
	width: 100%;	
}

.property-pic img{
	width: 100%;
	height: auto;
}
.property-name{
	font-family: "times new roman",arial;
	color:#7e8495;
	clear: both;
	margin:5px auto; 
	min-height: 50px;
}
.property-desc1,
.property-desc2{
	clear: both;
	width: 100%;
	height: 40px;
}
.bed{
	background: url(../images/icon-bed.jpg) 0% 20% no-repeat;
	padding: 6px 0 0 35px;
	width: 33%;
	float: left;
	height: 40px;
}
.bath{
	background: url(../images/icon-bath.jpg) 0% 20% no-repeat;
	padding: 6px 0 0 35px;
	width: 33%;
	float: left;
	height: 40px;
}
.garasi{
	background: url(../images/icon-garasi.jpg) 0% 20% no-repeat;
	padding: 6px 0 0 35px;
	width: 33%;
	float: left;
	height: 40px;
}
.luas{
	background: url(../images/icon-home.jpg) 0% 20% no-repeat;
	padding-left: 35px;
	width: 33%;
	float: left;
}
.harga{
	background: url(../images/icon-money.jpg) 0% 20% no-repeat;
	padding-left: 35px;
	width: 65%;
	float: left;
}

.bosscontent h1,
.bosscontent h2,
.bosscontent h3,
.bosscontent h4,
.bosscontent h5,
.bosscontent a{
	color: #f26520;
	font-weight: bold;	
}
.bosscontent h1,
.bosscontent .splitter{
	padding-top: 15px;
	background: url(../images/h-line.jpg) 0% 0% no-repeat;
	margin-bottom: 10px;
	margin-top: 50px;
}

/***************** DESKTOP PC diatas 1200px *****************/
@media (min-width: 1200px)  {

	.logo img{
		width: 310px;
		height: auto;
	}

	.contact-menu{
		min-height: 170px;
		padding-top: 50px;
	}

	.search-form{
		/*min-height: 110px;*/
		vertical-align: bottom;
	}

	.bossheader{
		.min-height: 320px;
	}

}


/***************** DESKTOP PC 992px  - 1200px *****************/

@media (min-width:992px) and (max-width:1200px){

	/* ------------ 01. COMMON -------- */




	/*********** 2. HEADER **********/

	.bossheader{
		.min-height: 250px;
	}


	.logo img{
		width: 230px;
		height: auto;
	}

	.menuaccount{}

	.menuaccount ul li{
	}


	.contact-menu{
		min-height: 100px;
	}

	.search-form{
	/*	min-height: 90px;*/
		vertical-align: bottom;
	}
	.search-form div{
		
	}

	.theme-dropdown .dropdown-menu {
  		position: static;
  		display: block;
  		margin-bottom: 20px;
	}

	.theme-showcase > p > .btn {
  		margin: 5px 0;
	}

	.theme-showcase .navbar .container {
  		width: auto;
	}

/************* 3. CONTENT ***********/


/************* 4. FOOTER ************/
}








/*********** SMALL DEVICE DIATAS 768px **********/
@media (min-width:768px) and (max-width:992px) {

/* --------- 01. COMMON --------- */
	body{font-size: 14px;}

/*********** 2. HEADER **********/

	.bossheader{
		min-height: 250px;
	}

	.logo img{
		width: 210px;
		height: auto;
	}

	.menuaccount{
		
		min-height: 70px;

	}

	.menuaccount ul li{
		padding: 0 10px;
	}
	.menuaccount ul li:last-child{
	
	}

	.contact-menu{
	
	}

	.search-form{
		margin-top: 30px;
	}
	.search-form div{
		
	}

	.theme-dropdown .dropdown-menu {
  		
	}

	.theme-showcase > p > .btn {
  		margin: 5px 0;
	}

	.theme-showcase .navbar .container {
  		width: auto;
	}



/************* 3. CONTENT ***********/


/************* 4. FOOTER ************/

}




/*********************************************
 *          SMALL DEVICE <768px              *
 *********************************************/

@media (max-width:768px) { 

/* ----------- 01. COMMON --------------- */
body{font-size: 14px;}

input{
	border:1px solid #aaa;
}

/* ----------- 2. HEADER ---------------- */

	.bossheader{
		
	}

	.logo a{
		width: 100%;
		margin:5px auto;
	}

	.logo img{
		width: 100%;
		max-width: 300px;
		height: auto;
	}

	.menuaccount{
		min-height: 50px;
		font-size: 12px;
	}

	.menuaccount ul li{
		padding: 0px 7px;
	}

	.menuaccount ul li:last-child{
	
	}

	.contact-menu{
	
	}

	.search-form{
	
	}
	.search-form div{
		
	}

	.theme-dropdown .dropdown-menu {
  		
	}

	.theme-showcase > p > .btn {
  		margin: 5px 0;
	}

	.theme-showcase .navbar .container {
  		width: auto;
	}
	.contact-mail,
	.contact-phone,
	.contact-address{
		margin:15px 0 10px 60px;
	}

	.btn-nav{font-size: 12px;}

/************* 3. CONTENT ***********/


/************* 4. FOOTER ************/

}
