@media (min-width:992px) {
  .grid1-14{
    width: 7.142857142857143%;
  }
  .grid2-14{
    width: 14.28571428571429%;
  }
  .grid3-14{
    width: 21.42857142857143%;
  }
  .grid4-14{
    width: 28.57142857142857%;
  }
  .grid5-14{
    width: 35.71428571428571%;
  }
  .grid6-14{
    width: 42.85714285714286%;
  }
  .grid7-14{
    width: 50%;
  }
  .grid8-14{
    width: 57.14285714285714%;
  }
  .grid9-14{
    width: 64.28571428571429%;
  }
  .grid10-14{
    width: 71.42857142857143%;
  }
  .grid11-14{
    width: 78.57142857142857%;
  }
  .grid12-14{
    width: 85.71428571428571%;
  }
  .grid13-14{
    width: 92.85714285714286%;
  }
  .grid14-14{
    width: 100%;
  }

  .grid1-10{
    width: 10%;
  }
  .grid2-10{
    width: 20%;
  }
  .grid3-10{
    width: 30%;
  }
  .grid4-10{
    width: 40%;
  }
  .grid5-10{
    width: 50%;
  }
  .grid6-10{
    width: 60%;
  }
  .grid7-10{
    width: 70%;
  }
  .grid8-10{
    width: 80%;
  }
  .grid9-10{
    width: 90%;
  }
  .grid10-10{
    width: 100%;
  }  
  .grid1-14,.grid2-14,.grid3-14,.grid4-14,.grid5-14,.grid6-14,.grid7-14,
  .grid8-14,.grid9-14,.grid10-14,.grid11-14,.grid12-14,.grid13-14,.grid14-14,
  .grid1-10,.grid2-10,.grid3-10,.grid4-10,.grid5-10,.grid6-10,.grid7-10,
  .grid8-10,.grid9-10,.grid10-10{float: left;}
/*
  .grid1-14,.grid2-14,.grid3-14,.grid4-14,.grid5-14,.grid6-14,.grid7-14,
  .grid8-14,.grid9-14,.grid10-14,.grid11-14,.grid12-14,.grid13-14,.grid14-14{margin:auto 0.5% auto 0.5%;}*/
}
}

@media (min-width:992px) {

  }